body{
    height: 100vh;
    color: white;
}

.page-wrapper{
    height: 88vh;
    background-color: rgb(75, 18, 18);
}

.side-bar{
    position: sticky;
    z-index:1;
    top: 0;
    height: 88vh;
}

.top-bar{
    height:8vh;
}

.good-morning{
    height: 22vh;
}

.recent-played{
    height: 30vh;
}

.shows-to-try{
    height: 30vh;
}

.music-player{
    height: 12vh;
}