body{
    background-color: black;
    color: white;
}
.card{
    border: none;
}
.card img{
    padding: 6px;
    background-color: rgb(40, 40, 40);;
}
.card-body{
 background-color: rgb(40, 40, 40);
}
.card-title, .card-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

/* .page-wrapper{
    height: 88vh;
    background-color: rgb(75, 18, 18);
} */

.side-bar{
    height: 88vh;
    position: fixed;
    left: 0;
}

.top-bar{
    height:8vh;
}

.good-morning{
    height: 22vh;
}

/* .recent-played{
    height: 30vh;
} */


/* .shows-to-try{
    height: 30vh;
} */

.music-player{
    height: 12vh;
    position: fixed;
    bottom: 0;
}