body {
    margin: 0;
    text-align: center;
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, sans-serif, Helvetica, Arial, sans-serif; /* change */
}

.btn-text {
    font-size: small;
}

.btn {
    line-height: 1;
    border-radius: 32px;
    height: 6%;
}

#fb-btn {
    background-color: rgb(64,90,147);
}

#apl-btn {
    background-color: black;
}

/* .center { */
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */

#emailHelp {
    margin-bottom: -2em;
}

.forgot-link {
    color: green;
}

.forgot-link:hover {
    color: green;
}

#log-btn {
    width: 13em;
    height: 3em;
    font-size: small;
    margin-bottom: 1.6em;
}

img {
    background: black;
    height: 3em;
    width: 9.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    filter: invert();
}

h6 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h6 span { 
     background:#fff; 
     padding:0 10px; 
 }

 .footer-text {
    font-size: 10px;
 }