body {
    margin: 0;
    text-align: center;
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, sans-serif, Helvetica, Arial, sans-serif; /* change */
}

.btn-text {
    font-size: small;
}

.btn {
    line-height: 1;
    border-radius: 32px;
    height: 6%;
}

#fb-btn {
    background-color: rgb(64,90,147);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;

}

#fb-btn span {
    font-size: 0.85em;
    font-weight: 500;
}

#apl-btn {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
}

#apl-btn span {
    font-size: 0.85em;
    font-weight: 500;
}

#emailHelp {
    margin-bottom: -2em;
}

.font-weight-bold {
    font-size: 0.8em;
    margin-bottom: 6px;
    margin-top: 12px;
}

.forgot-link {
    color: rgb(30,215,96);
    font-size: smaller;
}

.forgot-link:hover {
    color: green;
}

#log-btn {
    width: 13em;
    height: 3em;
    font-size: x-small;
    margin-bottom: 1.6em;
}

img {
    background: black;
    height: 3em;
    width: 9.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    filter: invert();
}

h6 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 18px 0 0px;

 } 
 
 h6 span { 
     background:#fff; 
     padding:0 10px;
     font-size:0.6em;
     font-weight: 600;
 }

 .footer-text {
    font-size: 10px;
}

h5 {
    font-size: x-small;
    font-weight: 600;
    margin-bottom: 1.2em;
}

#sign-up-btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6em;
    font-weight: 600;
}

a {
    color: rgb(30,215,96);
}